.vscode/
__pycache__/
.__pycache__
/__pycache__/

/env/
/venv/
/docker-compose.yml
Dockerfile
#/requirements.txt
#requirements.txt
/Pipfile
/Pipfile.lock
.venv

confing/__pycache__
config/my_settings.py
/serviceAccountKey.json

config/__pycache__

/**/migrations
*.exe
*.csv

# /**/migrations
config/my_settings.py
firebase.json
serviceAccountKey.json

youtube_crawler.py
locust.py
signup.py

chromedriver

*.zip
*.swm
*.swn
*.swo
*.swp
*.out
